<!DOCTYPE html>
<html>


<%- include('partials/bootstrap')%>

  <h2>PEOPLE</h2>


<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">age</th>
      <th scope="col">city</th>
      <th scope="col">details</th>
    </tr>
  </thead>
  <tbody>
    <% for(let c of result){%>  
    <tr>
      <th scope="row"><%= c.id %></th>
      <td><%= c.name%></td>
      <td><%= c.age %></td>
      <td><%= c.city %></td>
      <td><a href="/people/<%=c.id%>">details</a></td>
    </tr>
    <%}%>
  </tbody>
</table>


<a href="/people/new">new people</a><br><br>

<form action="/people?_method=DELETE" method="POST">
</form> 

</body>

</html>