<!DOCTYPE html>
<html>
    <%- include('partials/bootstrap')%>


    <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">id</th>
            <th scope="col">name</th>
            <th scope="col">age</th>
            <th scope="col">city</th>
           
          </tr>
        </thead>
        <tbody>
          <% for(let c of result){%>  
          <tr>
            <th scope="row"><%= c.id %></th>
            <td><%= c.name%></td>
            <td><%= c.age %></td>
            <td><%= c.city %></td>
          </tr>
          <%}%>
        </tbody>
      </table>



</body>
</html>